<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                  <a href="/">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
                  </a>
                </div>
                <div class="form" action="#" method="GET">
                  <input class="input" type="text" placeholder="Buscar productos, marcas y más">
                  <button class="submit" type="submit">
                      <i class="fa fa-search"></i>
                  </button>
                </div>
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <div class="service">
                    <ul>
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas Oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                </div>
                
                <div class="account">
                    <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </div>
                
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <!-- <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section> -->
        <main class="login">
            <form action="" method="post">
              <div>
                <label for="username">
                <input type="text" name="username" id="username" placeholder="Nombre de usuario" minlength="5" required>
              </div>
              <div>
                <label for="password">
                <input type="password" name="password" id="password" placeholder="Contraseña" minlength="8" required>
              </div> 
              <div class="login-button">
                    <button class="submit" type="submit" id="login-button">Enviar</button>
              </div>
                

            </form>
        </main>
        <footer class="container-footer">
          <div class="infofooter">
          <section class="footer-card">
            <div class="icono-footer">
              <i class="fas fa-credit-card"></i>
            </div>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="text">
              Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o
              efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
          </section>
          <section class="footer-card">
            <div class="icono-footer">
              <i class="fas fa-gift"></i>
            </div>
            <h4>Envío gratis desde $2500</h4>
            <p class="text">
              Solo por estar registradx en Mercado Liebre tenés envíos gratis en
              miles de productos. Es un beneficio de Mercado Puntos.
            </p>
          </section>
          <section class="footer-card">
            <div class="icono-footer">
              <i class="fas fa-user-shield"></i>
            </div>
            <h4>Seguridad, de principio a fin</h4>
              <div></div>
            <p class="text">
              ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
              hacer, porque estás siempre protegidx.
            </p>
          </section>
        </div>
          <div class="copy">
          <section>
            <p>Copyright 1999-2020 MercadoLiebre S.R.L</p>
          </section>
        </div>
        </footer>
      
  </body>
</html>