*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

/* .main-article  .description {
    display: none;
}

.main-article:hover .description{
    display: block;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
} */

main section article .description {
    display: none;

}

main section article:hover .description {
    display: block;

}



main section article:hover i {
    transform: rotate(-90deg);
    transition-duration: 1s, 5s;
}

main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    transition-duration: 1s, 5s;
}





p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header{
    background-color: #EAC926;
}

header div.logo,
header .form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}
header .form{
    display: flex;
    align-items: center;
    padding: 2px;
    font-size: 11px;
}
header nav{
    font-size: 12px;
    margin-left: 20px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    padding: 2px;
}

header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


/* @media (min-width: 361px and max-width: 768px){
    main section article .description{
        display: block;
    } */

@media (min-width: 361px){
    main section article .description{
        /* display: block; */
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
}

@media (min-width: 769px){
    main section div.products article{
        width: 22%;
    }
}

.login:hover {
    background-color: #0022aa;
    color: #FFF;
    transition: background-color, 0.5s, color, 0.5s;
}



/* LOGIN.HTML */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  footer .icono-footer {
    color: #1259c3;
    height: 2em;
    /* em no acumulativo   rem acumulativo */
    margin-bottom: 10px;
  }
  footer div.infofooter {
    display: flex;
    flex-direction: row;
  }
  
  footer div.copy {
    display: flex;
    align-items: flex-start;
  }



/* footer .footer-card{
    display: flex;
    flex-direction: column;
    text-align: center;

}

footer div.info-footer {
    display: flex;
    flex-direction: row;
}
 */


.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

/* label{
    font-weight: bold;
} */

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.login, #password, #username{
    width: 30%;
    border-radius: 5px;
}

.top-header{
    /* border: 1px solid red; */
    display: flex;
}

.logo, .compraST, .input{
    /* border: 1px solid red; */
}

.container-footer{
    display: flex;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*  */

header nav{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

header nav div.service{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 50%;
    padding-left: 30px;
    font-size: 14px;
    /* font-size: 12px;
    margin-left: 20px; */
}

header nav div.account{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
    padding-left: 50px;
    font-size: 14px;
    /* font-size: 12px;
    margin-left: 20px; */
}